/*selectors
id
class
tag*/
table,th,td{
    /*width:100%;*/
    border:2px solid black;
    border-collapse:collapse;
    color:black;
    background-color:white;
    text-align: center;
}
th{
   /*border:2px solid black*/
    color:black;
    background-color:white;
    text-align: center;   
}
/*td{
    border:2px solid black;
}*/
body{
    background-color:whitesmoke;
}